<RunSettings>
  <RunConfiguration>
      <EnvironmentVariables>
          <DB_SERVER>order-mariadb</DB_SERVER>
          <DB_PORT>3306</DB_PORT>
          <DB_NAME>orders</DB_NAME>
          <DB_USER>root</DB_USER>
          <DB_PASSWORD>some-password</DB_PASSWORD>
      </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>